version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.1.0
    container_name: whisky-keycloak
    command:
      - start-dev
      - --import-realm
      - --http-port=8080
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8090:8080" # 로컬 8090 → 컨테이너 8080
    volumes:
      - ./keycloak/realms:/opt/keycloak/data/import
