spring:
  config:
    import: "optional:file:.env.local[.properties]"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    defer-datasource-initialization: false
    properties:
      hibernate:
        open-in-view: true
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8090/realms/whisky-journal
        registration:
          keycloak:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: ${BASE_URI}/login/oauth2/code/keycloak
            scope: openid, profile, email




whisky-edition:
  url: https://thewhiskyedition.com/api/whisky/get # api 에서 리스트 형식 조회 요청